*{
	border:0;
	margin: 0;
	padding: 0;

}


#contenedor{
	
	height: 1050px;
	width: 780px;
	margin-right: auto;
	margin-left: auto;
}


#banner{
	background: #666;
	height: 300px;

}
 
*{ 
    font-size: 14px;
    font-family: sans-serif;
}

body{
    background:#aaa;
}

form.login { 
    background: none repeat scroll 0 0 #F1F1F1; 
    border: 1px solid #DDDDDD; 
    font-family: sans-serif; 
    margin: 0 auto; 
    padding: 20px; 
    width: 300px; 
    box-shadow:0px 15px 20px pink; 
    border-radius:20px; 
} 
form.login div { 
    margin-bottom: 20px; 
    overflow: hidden; 
} 
form.login div label { 
    display: block; 
    float: left; 
    line-height: 25px; 
} 
form.login div input[type="text"], form.login div input[type="password"] { 
    border: 1px solid #DCDCDC; 
    float: right; 
    padding: 4px; 
} 
form.login div input[type="submit"] { 
    background: none repeat scroll 0 0 #DEDEDE; 
    border: 1px solid #C6C6C6; 
    float: right;
    font-weight: bold; 
    padding: 4px 20px; 
} 
form.login div input[type="button"] { 
    background: none repeat scroll 0 0 #DEDEDE; 
    border: 1px solid #C6C6C6; 
    float: right;
    font-weight: bold; 
    padding: 4px 20px; 

} 

.error{ 
    color: red; 
    font-weight: bold; 
    margin: 10px; 
    text-align: center;
}

footer{
    background: #f21;
    width: 780px;
    height: 15px;
    padding-top: 25px

}
footer p{
    font-family: arial;
    font-size: 10px;
    text-align: center;
}
